<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
   
</head>


<body>
    <header>
        <div class="logo">
            <p>CSULA Parking</p>
        </div>

        <nav class="navi">
            <ul>
                <li class="home"><a href="">Home</a></li>
                <li><a href="{{ url_for('parking_details') }}">Parking</a></li>
                <button>
                <a href="{{ url_for('sign_in') }}">Sign Up</a>
                </button>
            </ul>
        </nav>
    </header>
    <div class="headings">
        <h1>
           THE FUTURE OF<br>
            CAR PARKING IS HERE!
        </h1>

        <p>
            Book your spot easily and safely with just a few taps. Enjoy stress-free parking today!
        </p>
        <div class="tick">
            <button  class="tick-button">
               <a href="{{ url_for('sign_in') }}"> Get Started</a>
            </button>
            <img src="{{ url_for('static', filename='images/Tick.png') }}" alt="Tick Mark" class="tick-icon">
        </div>
    </div>


    <footer>
        <div class="footer-images">
            <img src="{{ url_for('static', filename='images/facebbok.png') }}" alt="Image 1" class="footer-image">
            <img src="{{ url_for('static', filename='images/insta.png') }}" alt="Image 2" class="footer-image">
            <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="Image 3" class="footer-image">
        </div>
    </footer>

</body>

</html>