<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets on Account</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='tickets.css') }}">
</head>

<body>
        <!-- Header Section -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-custom navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('home') }}">CSULA Parking</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}" aria-label="Go to Home Page">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{{ url_for('parking') }}" aria-label="Go to Parking Page">Parking</a>
                            </li>

                            {% if 'user_id' in session %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('logout') }}" aria-label="Logout">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('login') }}" aria-label="Go to Login Page">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('sign_in') }}" aria-label="Go to Sign-Up Page">Sign Up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="content-container d-flex justify-content-center align-items-center">
            <div class="white-box p-4">
                <h2>Lookup Ticket</h2>
                <div class="d-flex justify-content-center align-items-center mb-5">
                    <label for="ticketNumber" class="me-2 fw-bold">Ticket #*</label>
                    <input type="text" id="ticketNumber" class="form-control me-3" placeholder="Enter Ticket #" style="width: 200px;">

                    <label for="plateOrVin" class="me-2 fw-bold">Plate # or VIN*</label>
                    <input type="text" id="plateOrVin" class="form-control me-3" placeholder="Enter Plate # or VIN" style="width: 200px;">

                    <button type="button" class="btn btn-warning">Search</button>
                </div>
                <p>As part of our commitment to providing safe and accessible parking, parking citations can be issued to any vehicle found in violation of Cal State LA's Parking Regulations. All citations are issued in accordance with the California Vehicle Code. Regulations are enforced 24/7, holidays included. It should be understood that a warning may be issued for a parking violation, however a citation can be received on the first violation.</p>

                <p>To make a payment or appeal/contest a citation enter your Ticket, Plate, or VIN information above.</p>

                <h1>Citation Payments</h1>
                <p>Payment for citations should be made within 21 calendar days of receiving the citation. If payments are received after the due date, a delinquent fee will be assessed to your fine and will be included on your Delinquent Courtesy Notice. Failure to pay a citation may result in a DMV hold and a university hold being placed on your record. Per Adm Procedure 402,7.3.4. the University may remove an abandoned vehicle, any vehicle parked in such a way as to constitute a traffic hazard, and vehicles illegally parked. Vehicles with five (5) or more unpaid parking citations are subject to impound (towing) under California Vehicle Code sections 22651.3(b) and 22651.7. The owner will be responsible for costs involved in removing and storing of such vehicles.</p>

                <p>For more payment options, visit <a href="https://www.calstatela.edu/parking/parking-citation-information" target="_blank">https://www.calstatela.edu/parking/parking-citation-information</a></p>

                <h1>Contesting a Citation</h1>
                <p><u>Level One: Initial Review</u><br>
                A request for an Initial Review of a parking citation must be submitted within 21 calendar days of receiving the citation or within 14 calendar days of receiving the Delinquent Courtesy Notice. Responses will be mailed to the name and address supplied on the form.</p>

                <p>Request for an Initial Review can be made by entering your Ticket, Plate, or VIN information above or visit <a href="https://www.calstatela.edu/parking/parking-citation-information" target="_blank">https://www.calstatela.edu/parking/parking-citation-information</a> for more options.</p>
                <p><u>Level Two: Administrative Hearing</u><br>
                If you are unsatisfied with the Initial Review results, requests for an Administrative Hearing can be made by steps listed in your Initial Review response. Please note that the Request must be made for an Initial Review before requesting an Administrative Hearing. The request for the Administrative Hearing must be made within 21 days of the results from the Initial Review. No fees required to request an Initial Review, but all fees due from the Citation must be paid before an Administrative Hearing date is provided (Reference CVC 40215.b. for complete details).</p>

                <p>A Hearing Examiner will review the information provided and your testimony. A decision is then rendered. The decision of the Hearing Examiner may be delivered by first class mail.</p>
                <p>If your citation is "dismissed," the penalty paid for the citation will be refunded in full. Refunds would be requested at Public Safety. Public Safety is open Monday through Friday, 8 am to 5 pm, and can be contacted by phone at (323) 343-3700.</p>
                <p>For more information on citations visit <a href="https://www.calstatela.edu/parking/parking-citation-information" target="_blank">https://www.calstatela.edu/parking/parking-citation-information</a></p>

            </div>
        </main>

        <!-- Footer Section -->
        <footer class="footer-custom">
            <div class="container-fluid text-center">
                <div class="footer-content d-flex justify-content-center">

                    <a href="https://www.facebook.com/CalStateLA/" class="mx-3 text-white" target="_blank" title="Follow us on Facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017
                             1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604
                             6.75-3.934 6.75-7.951"/>
                        </svg>
                    </a>

                    <a href="https://www.instagram.com/calstatela/" class="mx-3 text-white" target="_blank" title="Follow us on Instagram">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087
                            3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719
                            1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0
                            1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9
                            3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035
                            1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275
                            1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5
                            2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24
                            1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0
                            1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
                        </svg>
                    </a>

                    <a href="https://x.com/CalStateLA" class="mx-3 text-white" target="_blank" title="Follow us on Twitter">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                        </svg>
                    </a>
                </div>
                <p class="mt-3">Follow us on social media for the latest updates!</p>
            </div>
        </footer>
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"
  ></script>
</body>
</html>